@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Oxanium:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Comfortaa, Helvetica, Arial, sans-serif;
}

body {
  background-color: #000;
  color: #fff;
}

.header-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background-image: url("fabric2.png");
  background-position: center;
  background-repeat: none;
  background-size: cover;
  width: 100%;
}

h1 {
  font-size: 5rem;
  letter-spacing: 0.5rem;
}

.bento-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  z-index: 2;
  box-shadow: 0px -41px 51px 31px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px -41px 51px 31px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -41px 51px 31px rgba(0, 0, 0, 0.75);
}

.bento-container {
  width: 80%;
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.box-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.row-top {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.row-top-left,
.row-top-right,
.box,
.right-bottom-box {
  background-position: center;
  background-repeat: none;
  background-size: cover;
}

.row-top-left {
  flex: 2;
  min-width: 300px;
  min-height: 400px;
  background-color: white;
  border-radius: 12px;
  background-image: url("1.jpg");
}

.row-top-right {
  flex: 1;
  min-width: 300px;
  min-height: 400px;
  background-color: white;
  border-radius: 12px;
  background-image: url("1234.jpg");
}

.row-bottom {
  flex: 1;
  display: flex;
  gap: 1rem;
  width: 100%;
}

.box:nth-child(1) {
  min-width: 300px;
  min-height: 300px;
  background-color: white;
  border-radius: 12px;
  background-image: url("123.jpg");
}

.box:nth-child(2) {
  min-width: 300px;
  min-height: 300px;
  background-color: white;
  border-radius: 12px;
  background-image: url("12345.jpg");
}

.right-bottom-box {
  flex: 1;
  min-width: 300px;
  min-height: 400px;
  background-color: white;
  border-radius: 12px;
  background-image: url("123456.jpg");
}

.about-container {
  display: flex;
}

.about h2,
.faq h2 {
  font-size: 3rem;
  text-align: center;
  margin: 2rem;
}

.about-text-container,
.about-img-container {
  flex: 1;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-text-container {
  line-height: 1.5;
  font-size: 1.8rem;
}

.about-img-container img {
  width: 60%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 1rem;
  margin-top: 2rem;
}

.footer-box {
  flex: 1;
}

.footer-box.left,
.footer-box.right {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
}

.footer-box.right a {
  color: #d4d4d4;
  text-decoration: none;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

.footer-box.right a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.copyright {
  font-size: 0.7rem;
}

.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.accordion {
  width: 80%;
}

.accordion_btn {
  display: block;
  width: 100%;
  padding: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  background: #333;
  color: #fff;
  text-align: left;
  transition: background 0.2s;
  margin-bottom: 1rem;
  border-radius: 12px;
  font-size: 1.3rem;
}

.accordion_btn::after {
  content: "\25be";
  float: right;
  transform: scale(1.5);
}

.accordion_btn_active {
  background: #555;
  margin-bottom: 0;
}

.accordion_btn_active::after {
  content: "\25b4";
}

.accordion_btn_active + .accordion_content {
  display: block;
  margin-bottom: 1rem;
}

.accordion_content {
  display: none;
  overflow: hidden;
  padding: 0 15px;
  background: #dedede;
  color: #000;
  border-radius: 12px;
  padding: 1rem;
  font-size: 1.1rem;
  line-height: 1.5;
}

.map {
  width: 100%;
}

.menu-social-icons {
  width: 100%;
  display: none;
  font-size: 26px;
}

.menu-social-icons i {
  color: #ffffff;
  font-size: 26px;
  margin: 12px 8px;
}

/* OBSERVER STYLES */

.fade-in {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.fade-in.show {
  opacity: 1;
}

/* LEFT AND RIGHT CARDS */
.left-card {
  transform: translateX(-100px);
  opacity: 0;
  transition: 150ms;
}

.right-card {
  transform: translateX(100px);
  opacity: 0;
  transition: 150ms;
}

.left-card.show,
.right-card.show {
  transform: translateX(0);
  opacity: 1;
}

/* Styles for the flip card container */
.flip-card {
  perspective: 1000px; /* Adds 3D perspective */
  height: 600px;
  width: 100%;
}

/* Apply rotation when hovering over the flip card */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg); /* Rotate around Y-axis for flipping */
}

/* Styles for the inner part of the flip card */
.flip-card-inner {
  display: block;
  margin: 0 auto;
  width: 70%; /* Take up full width of container */
  height: 100%; /* Take up full height of container */
  transition: transform 0.6s;
  transform-style: preserve-3d; /* Preserves the 3D transformations */
}

/* Styles for the front and back face of the flip card */
.flip-card-front,
.flip-card-back {
  width: 100%; /* Take up full width of container */
  height: 100%; /* Take up full height of container */
  position: absolute;
  backface-visibility: hidden; /* Hide the backface */
}

.flip-card-back {
  transform: rotateY(180deg); /* Rotate the back face so it shows after flip */
}



/* Ensure images take up the entire space of their container */
.flip-card img {
  width: 100%; /* Take up full width of container */
  height: 100%; /* Take up full height of container */
}

@media screen and (max-width: 600px) {
  h1 {
    text-align: center;
    font-size: 1.7rem;
    letter-spacing: 0.5rem;
  }

  h1 span {
    display: none;
  }

  .bento-container,
  .box-container {
    flex-direction: column;
    width: 100%;
  }

  .accordion {
    width: 90%;
  }

  .footer-container {
    flex-direction: column-reverse;
    width: 100%;
  }

  .row-top,
  .row-bottom {
    flex-direction: column;
    width: 100%;
  }

  .right-bottom-box,
  .row-top-right,
  .row-top-left {
    min-height: 300px;
  }

  .about-container {
    flex-direction: column-reverse;
  }

  .about-img-container {
   width: 100%;
  }

  .about-img-container img {
    width: 100%;
  }

  .about-text-container {
    line-height: 1.5;
    font-size: 1.3rem;
    text-align: center;
  }

  .footer-box.left {
    align-items: center;
  }

  .map iframe {
    width: 100%;
  }

  .menu-social-icons {
    display: flex;
    justify-content: center;
  }

  .footer-box.right {
    display: none;
  }

  .studio {
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
  }

  .flip-card {
    height: 400px;
  }

  .flip-card-inner {
    width: 100%;
  }

  .flip-card-back {
    display: none;
  }

  /* Apply rotation when hovering over the flip card */
.flip-card:hover .flip-card-inner {
  transform: none; /* Rotate around Y-axis for flipping */
}
}
